In [1]:
!pip install pandas

Looking in indexes: http://dev:****@nexus-leitha.servizi.gr-u.it/repository/leitha_python_all/simple
Requirement already satisfied: pandas in /Users/manuel/PycharmProjects/benchmark/.venv/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /Users/manuel/PycharmProjects/benchmark/.venv/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/manuel/PycharmProjects/benchmark/.venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/manuel/PycharmProjects/benchmark/.venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/manuel/PycharmProjects/benchmark/.venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/manuel/PycharmProjects/benchmark/.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.1.2
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd

dataframe: pd.DataFrame = pd.read_csv('../resources/reviews_with_output_Llama3_8b.csv')
dataframe.head()

,review,sentiment,entities,json,progressive_index,output
0,With No Dead Heroes you get stupid lines like ...,negative,"[{'label': 'PERSON', 'value': 'William Sanders...","{""review"": ""With No Dead Heroes you get stupid...",1,Here is the output in JSON format:\n\n```json\...
1,I thought maybe... maybe this could be good. A...,negative,"[{'label': 'PERSON', 'value': 'Jeffery Combs'}...","{""review"": ""I thought maybe... maybe this coul...",2,Here is the output in JSON format:\n\n```json\...
2,An elite American military team which of cours...,negative,"[{'label': 'ORG', 'value': 'Spetznaz'}, {'labe...","{""review"": ""An elite American military team wh...",3,Here are the outputs formatted in JSON:\n\n```...
3,Ridiculous horror film about a wealthy man (Jo...,negative,"[{'label': 'PERSON', 'value': 'John Carradine'...","{""review"": ""Ridiculous horror film about a wea...",4,Here is the output in JSON format:\n\n```json\...
4,"Well, if you are one of those Katana's film-nu...",positive,"[{'label': 'PERSON', 'value': 'Katana'}, {'lab...","{""review"": ""Well, if you are one of those Kata...",5,Here is the analysis of the review text in JSO...

In [3]:
cleaned: pd.DataFrame = dataframe.drop(columns=["output"])
cleaned.head()

,review,sentiment,entities,json,progressive_index
0,With No Dead Heroes you get stupid lines like ...,negative,"[{'label': 'PERSON', 'value': 'William Sanders...","{""review"": ""With No Dead Heroes you get stupid...",1
1,I thought maybe... maybe this could be good. A...,negative,"[{'label': 'PERSON', 'value': 'Jeffery Combs'}...","{""review"": ""I thought maybe... maybe this coul...",2
2,An elite American military team which of cours...,negative,"[{'label': 'ORG', 'value': 'Spetznaz'}, {'labe...","{""review"": ""An elite American military team wh...",3
3,Ridiculous horror film about a wealthy man (Jo...,negative,"[{'label': 'PERSON', 'value': 'John Carradine'...","{""review"": ""Ridiculous horror film about a wea...",4
4,"Well, if you are one of those Katana's film-nu...",positive,"[{'label': 'PERSON', 'value': 'Katana'}, {'lab...","{""review"": ""Well, if you are one of those Kata...",5

In [5]:
cleaned = cleaned.sample(n=1000)
cleaned.to_csv('../resources/IMDB Dataset Sampled.csv')